body {
    background-color: bisque;
}

.header {
    background-color: rgb(180, 255, 109);
    color: goldenrod;
    padding: 0;
    box-shadow: 0 4px 8px rgb(34, 86, 94);
}

.nav {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 80px;
    cursor: pointer;
}

.nav-links {
    color: purple;
    cursor: pointer;
}

.nav-links:active {
    color: purple;
    opacity: .08s;
}

.nav-links:hover {
    cursor: pointer
}

.tech-heaven-logo {
    background-color: rgb(176, 133, 80);
    color: rgb(245, 107, 245);
    padding: 2px;
    border: none;
}

.section {
    margin: 20px 0;
    padding: 20px;
    background-color: rgb(95, 252, 200);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
footer {
    text-align: center;
    padding: 10px;
    color: rgb(13, 3, 3);
    bottom: 0;
    position: relative;
}